@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed:400,600');
/* ------------------------------------------------- HEADER ------------------------------------------- */
* {
  outline: none;
  box-sizing: border-box;
}
.header
{
  display: flex;
  width: 10vw;
  margin: auto;
}

#welcome-text
{
  text-align: center;
}
.content
{
  display:flex;
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}
.page {
  width: 100%;
  height: 100vh;
  background: #fdfdfd;
  font-family: 'Encode Sans Condensed', sans-serif;
  font-weight: 600;
  letter-spacing: .03em;
  color: #212121;
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  height: 70px;
  background: #086972;
  color: #fff;
  justify-content: center;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-box-shadow: 0px 0px 64px 5px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 64px 5px rgba(0,0,0,0.3);
  
}
#logo
{
  margin: auto;
}
header img{
  filter:  brightness(0) invert(1);
}

.full-width-menu
{
  position: absolute;
  right: 0px;
  top: 15px;
}

.full-width-menu ul li
{
  display: inline-block;
  padding: 8px 12px;
}
.full-width-menu ul li::after
{
  content: '';
  display: block;
  width: 0%;
  transition: .4s;
  background: #fff;
  height: 2px;
  margin: auto;
}
.full-width-menu ul li:hover::after
{
  width: 100%;
}


/* -------------------------------------------------- MAIN ------------------------------------------------------- */
.col1
{
  /* border: 1px solid black; */
  width: 50%;
  background-color: #fdfdfd;
  justify-content: center;
  margin: auto;
}
main {
  padding: 70px 100px 0;
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
  background-color: #fdfdfd;
  height: 100%;
  
}

.col2
{
  width: auto;
  text-align: center;
  /* border: 1px solid blue; */
  padding: 10px;
  
}
.col2 img{
  margin-top: 30px;
}
.col2-container
{
  height:100%;
  /* background-image: url("zilco-tech/Surface-Laptop-Studio-10.webp"); */
  justify-content: center;
}

.col1 h1
{
  font-size: 2vw;
  color: gray;
  margin-bottom: 15px;
}
.col1 h4{
  margin: 10px;
}

.click-here
{
  width: 20vw;
  height: 40px;
  font-size: 20px;
  color: white;
  background: #086972;
  padding: 10px;
  text-align: center;
  margin: 10px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}
.click-here:hover
{
  cursor: pointer;
  transform: scale(1.1);
  
}
/* -----------------------------------------------NEW THING------------------------------------------ */

.newthing
{
  margin: 50px;
  display: flex;
  justify-content: center;
}
.content2
{
  display: flex;
  justify-content: space-around;
  width: 100%;
  
}
.col1_0
{
  margin: 10px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.col2_0
{
  margin: 10px;
  flex-basis: 50%;
  display: flex;
  align-items: center;
}
.text
{
  display: block;
}
.text p
{
  margin: 10px;

}
.text h1{
  margin: 10px;
}
/* ------------------------------------SOLUTIONS-----------------------------------------------? */

.solutions
{
  margin: 100px;
  /* display: flex;
  flex-direction: column; */
  background-image: linear-gradient(#086972, white);
  color: white;
  border-radius: 10px;
  height: 120vh;
  -webkit-box-shadow: 0px 0px 64px 5px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 64px 5px rgba(0,0,0,0.5);
  height: auto;
}
.sol-banner
{
  width: 100%;
  padding: 50px;
  text-align: center;
  font-size: 2vw;
}

.sol-col-container
{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  height: auto;
}
.sol-col
{
  padding: 50px;
  flex-basis: 30%;
  margin: 20px;
  
}
.sol-banner h1
{
  font-size: 60px;
  margin: 20px;
}

/* ---------------------------------------------------WHY SECTION ------------------------------------- */

.why-zilco
{
  margin: 40px;
  display: flex;
  justify-content: space-around;
  
}

.why-banner
{
  text-align: center;
  display: flex;

  flex-direction: column;
}
.question
{
  border: 1px solid black;
  background: #27757D;
  color: white;
  border-radius: 30px;
  margin:20px;
  font-size: 15px;
  padding: 10px;
  cursor: pointer;
  transition: .4s;
}
.question h1::after
{
  content: '';
  display: block;
  width: 0%;
  transition: .4s;
  background: #fff;
  height: 2px;
  margin: auto;
}
.question h1:hover::after
{
  width: 100%;
}
.question:hover{
  transform: scale(1.1)
}

.why-zilco th
{
  padding: 30px;
}
.why-col
{
  font-size: 2rem;
  width: 100%;
  color: white;
  
}

.why-zilco table{
  background: gray;
  transition: .5s;
  border-radius: 10px;
  
}
.why-zilco table:hover {
  -webkit-box-shadow: 0px 0px 64px 5px rgba(0,0,0,0.5); 
  box-shadow: 0px 0px 64px 5px rgba(0,0,0,0.5);
  transform: scale(1.1)
}



/* ---------------------------------------------------- CAROSEL -------------------------------------------- */
.carousel 
{
  margin: 20px 0 20px;
}

.gallery {
  background: #fdfdfd;
}

.gallery-cell {
  width: 66%;
  height: 700px;
  margin-right: 20px;
  background: white;
  counter-increment: none;
  border-radius: 20px;
  text-align: center;

  /* opacity: 0.7; */
  /* border: 3px solid red; */
}

.gallery-cell img
{
  height: 700px;
  width: 100%;
  border-radius:20px;
   /* opacity: 0.75; */
} 

.gallery-cell h1{
  z-index: 100;
}


/* cell number */
.gallery-cell:before {
  display: block;
  text-align: center;
  /* content: counter(gallery-cell); */
  line-height: 200px;
  font-size: 80px;
  color: white;
}

.slow-vid
{
  opacity: .5;
  filter: grayscale(100%);
}

/* -----------------------------------------------FOOTER----------------------------------------------- */

footer
{
  padding: 40px;
  height: 50vh;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#footer-img
{
  width: 30%;
  margin: 10px;
}
#privacy-policy h2
{
  padding: 10px;
  display: inline-block;
  font-size: 1rem;
  text-align: center;
}
#privacy-policy h2:hover
{
  cursor:pointer;
}

/*--------------------------------------------------NAV---------------------------------------------*/
#nav-container {
  
  position: fixed;
  height: 100vh;
  width: 100%;
  pointer-events: none;
}
#nav-container .bg {
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  height: calc(100% - 70px);
  visibility: hidden;
  opacity: 0;
  transition: .3s;
  background: #000;
}
#nav-container:focus-within .bg {
  visibility: visible;
  opacity: .6;
}
#nav-container * {
  visibility: visible;
}

.button {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  -webkit-appearance: none;
  border: 0;
  background: transparent;
  border-radius: 0;
  height: 70px;
  width: 30px;
  cursor: pointer;
  pointer-events: auto;
  margin-left: 25px;
  touch-action: manipulation;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.icon-bar {
  display: block;
  width: 100%;
  height: 3px;
  background: #fdfdfd;
  transition: .3s;
}
.icon-bar + .icon-bar {
  margin-top: 5px;
}

#nav-container:focus-within .button {
  pointer-events: none;
}
#nav-container:focus-within .icon-bar:nth-of-type(1) {
  transform: translate3d(0,8px,0) rotate(45deg);
}
#nav-container:focus-within .icon-bar:nth-of-type(2) {
  opacity: 0;
}
#nav-container:focus-within .icon-bar:nth-of-type(3) {
  transform: translate3d(0,-8px,0) rotate(-45deg);
}

#nav-content {
  margin-top: 70px;
  padding: 20px;
  width: 90%;
  max-width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 70px);
  background: #ececec;
  pointer-events: auto;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  transform: translateX(-100%);
  transition: transform .3s;
  will-change: transform;
  contain: paint;
}

#nav-content ul {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#nav-content li a {
  padding: 10px 5px;
  display: block;
  text-transform: uppercase;
  transition: color .1s;
}

#nav-content li a:hover {
  color: #086972;
}

#nav-content li:not(.small) + .small {
  margin-top: auto;
}

.small {
  display: flex;

  align-self: center;
}

.small a {
  font-size: 20px;
  font-weight: 400;
  color: #888;
}
.small a + a {
  margin-left: 15px;
}

#nav-container:focus-within #nav-content {
  transform: none;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

a,
a:visited,
a:focus,
a:active,
a:link {
  text-decoration: none;
  outline: 0;
}

a {
  color: currentColor;
  transition: .2s ease-in-out;
}

h1, h2, h3, h4 {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: middle;
  height: auto;
  width: 100%;
}